---
import { BlogReact } from "../components/BlogReact";
import FeaturesReact from "../components/FeaturesReact";
import HeroSection from "../components/astroComponents/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Reinforz.">
  <main class="space-y-40 mb-40">
    <HeroSection />
    <FeaturesReact />
    <BlogReact />
  </main>
</Layout>
