---
import Privacy from "../components/PrivacyContent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Reinforz.">
  <main class="relative m-auto text-white w-1/2">
    <Privacy />
  </main>
</Layout>
