---
import TermsContent from "../components/astroComponents/TermsContent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Reinforz.">
  <main class="relative m-auto text-white sm:w-3/4">
    <TermsContent />
  </main>
</Layout>
