---
import Container from "./Container.astro";
---

<div>
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
        Latest Articles
      </h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
        We publish articles and guides on a regular basis. Check them out below!
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div
        class="group p-6 sm:p-8 bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-black bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden">
          <img
            src="./blog-img/twitter.webp"
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            Twitter Oauth 2.0 authentication in a Full Stack Application
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Here, we will learn to implement authentication using Twitter OAuth
            2.0 on a minimal working full-stack web application...
          </p>
          <a
            class="inline-block"
            target="_blank"
            href="https://dev.to/reinforz_dev/implementing-authentication-with-twitter-oauth-20-using-typescript-node-js-express-js-and-next-js-in-a-full-stack-application-353d"
          >
            <span class="text-blue-300 hover:text-primary">Read more</span>
          </a>
        </div>
      </div>
      <div
        class="group p-6 sm:p-8 bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-black bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden">
          <img
            src="./blog-img/venv.png"
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            How to setup Python virtual environments in Conda.
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Virtual environments are an absolute essential to work as a machine
            learning engineer or data scientist in Python. It enables you to...
          </p>
          <a class="inline-block" href="#">
            <span class="text-blue-300 hover:text-primary">Read more</span>
          </a>
        </div>
      </div>
      <div
        class="group p-6 sm:p-8 bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-black bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden">
          <img
            src="./blog-img/zod.png"
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            Switching from Yup to Zod for schema validation.
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Zod is a TypeScript-first schema declaration and validation library.
            The term "schema" to broadly refer to any data type, from a simple
            string to ...
          </p>
          <a class="inline-block" href="#">
            <span class="text-blue-300 hover:text-primary">Read more</span>
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>
