---
import Container from "./Container.astro";
---

<div>
  <Container>
    <div class="mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/explore.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            Explore quizzes created by others or create your own
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Discover a variety of quizzes created by other users on diverse
            topics. You can also create your own quizzes on any topic. Make it
            public if you want others to play your quiz or make it private for
            own practice.
          </p>
        </div>
      </div>
    </div>
    <div class="mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/assess.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            Take the quiz and assess your mastery
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Nobis minus voluptatibus pariatur dignissimos libero quaerat iure
            expedita at? Asperiores nemo possimus nesciunt dicta veniam
            aspernatur quam mollitia.
          </p>
        </div>
      </div>
    </div>
    <div class="mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/report.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            Receive a detailed report on your performance
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Nobis minus voluptatibus pariatur dignissimos libero quaerat iure
            expedita at? Asperiores nemo possimus nesciunt dicta veniam
            aspernatur quam mollitia.
          </p>
        </div>
      </div>
    </div>
    <div class="mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/past-reports.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            Track your progress through previous reports
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Nobis minus voluptatibus pariatur dignissimos libero quaerat iure
            expedita at? Asperiores nemo possimus nesciunt dicta veniam
            aspernatur quam mollitia.
          </p>
        </div>
      </div>
    </div>
    <div class="mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/leaderboard.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            Compete for top spots in the quiz leaderboards!
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Nobis minus voluptatibus pariatur dignissimos libero quaerat iure
            expedita at? Asperiores nemo possimus nesciunt dicta veniam
            aspernatur quam mollitia.
          </p>
        </div>
      </div>
    </div>
  </Container>
</div>
