---
import Container from "./Container.astro";
---

<div>
  <Container>
    <div class="mb-12 space-y-2">
      <h2 class="text-3xl text-center font-bold md:text-4xl text-primary">
        Our Partners
      </h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-300 text-center">
        We are excited to have them on board and look forward to working
        together to achieve our common goals!
      </p>
    </div>
    <div class="mt-12 space-x-12 flex justify-center items-center flex-col md:flex-row">
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <a href="https://knightsquad.org/" target="_blank">
          <img
            src="./ks-logo.png"
            class="h-32 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </a>
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <a href="https://malwaretract.com/" target="_blank">
          <img
            src="./malwaretract.jpg"
            class="h-16 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </a>
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <a href="https://knightctf.com/" target="_blank">
          <img
            src="./kctf.png"
            class="h-32 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </a>
      </div>
    </div>
  </Container>
</div>
