---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="./favicon.ico" />
    <meta
      name="description"
      content="Reinforz is an innovative platform for learners, students, and educators to collaborate and reinforce their learning with the help of artificial intelligence."
    />
    <meta property="og:site_name" content="Reinforz" />
    <meta property="og:url" content="https://app.reinforz.ai" />
    <meta property="og:title" content="Reinforz" />
    <meta property="og:image" content="https://app.reinforz.ai/512.png" />
    <meta
      property="og:description"
      content="Reinforz is an innovative platform for learners, students, and educators to collaborate and reinforce their learning with the help of artificial intelligence."
    />
    <meta property="twitter:title" content="Reinforz" />
    <meta name="twitter:site" content="@reinforz" />
    <meta name="twitter:card" content="https://app.reinforz.ai/512.png" />
    <meta
      property="twitter:description"
      content="Reinforz is an innovative platform for learners, students, and educators to collaborate and reinforce their learning with the help of artificial intelligence."
    />
    <meta property="twitter:image" content="https://app.reinforz.ai/512.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Reinforz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Smooch&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-white dark:bg-black scrollbar-thin scrollbar-thumb-gray-1 scrollbar-track-gray-2"
  >
    <AppHeader />
    <slot />
    <AppFooter />
    <style>
      html {
        font-family: Raleway, system-ui;
      }

      body {
        margin: 0;
      }
    </style>
  </body>
</html>
